@*@model IEnumerable<Instagram.Models.Post>*@
@model List<Instagram.Models.Post>
@{

}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Instagram</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Instagram.styles.css" asp-append-version="true" />
</head>
<body>
    @foreach (var item in Model)
    {
        <section class="main">
            <div class="wrapper">
                <div class="left-col">
                    <div class="post">
                        <div class="info">
                            <div class="user">
                                <div class="profile-pic"><img src="@item.user.Avatar"> </div>
                                <p class="username"> @item.user.UserName</p>
                            </div>
                            <img src="img/option.PNG" class="options" alt="">
                        </div>
                        <img src="@item.image.Url" class="post-image" alt="">
                        <div class="post-content">
                            <div class="reaction-wrapper">
                                <img src="img/like.PNG" class="icon" alt="">
                                <img src="img/comment.PNG" class="icon" alt="">
                                <img src="img/send.PNG" class="icon" alt="">
                                <img src="img/save.PNG" class="save icon" alt="">
                            </div>
                            <p class="likes">congminh đã thích</p>
                            <p class="description"><span>  @item.user.UserName </span> @item.Content</p>
                            <p class="post-time">@DateTime.Now</p>
                        </div>
                        <div class="comment-wrapper">
                            <img src="img/smile.PNG" class="icon" alt="">
                            <input type="text" class="comment-box" placeholder="Add a comment">
                            <button class="comment-btn">post</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }

</body>